<h1>Restaurants</h1>

<%@restaurants.each do |restaurant|%>
  <li>
    <%= link_to restaurant.name, restaurant_path(restaurant)%>
    <%= restaurant.address%>
    <%= restaurant.category%>
    <%= restaurant.phone_number%>
    <%# <%= link_to "deletar", destroy_path, method: :delete, data: { confirm: "Tem certeza champs?" } %>
  </li>
<%end%>

<p></p>

<%= link_to '+ Add a new restaurant', new_restaurant_path%>
