<h1><%= @restaurant.name%></h1>
<h3><%= @restaurant.address%></h3>
<h3><%= @restaurant.phone_number%></h3>

<% @restaurant.reviews.each do |review| %>
<li>
  <%= review.rating %>
  <%= review.content %>
</li>
<% end %>

<%= link_to 'DELETE--ðŸ—‘ï¸', restaurants_path, method: :destroy, data: { confirm: "Tem certeza champs?" } %>
<p></p>
<%= link_to 'â†© new review', new_restaurant_review_path(@restaurant) %>
<p></p>
<%= link_to 'â†© Back to list', restaurants_path %>
